{erl_opts, [
    error,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_obsolete_guard,
    debug_info,
    {d, 'APPLICATION', clicker}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.


{plugins, [rebar3_auto, rebar3_run, erlfmt]}.

{project_plugins, 
  [
    rebar3_ex_doc
    , rebar3_lint
    , rebar3_hank
    , {eqwalizer_rebar3, {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"}, "eqwalizer_rebar3"}}
  ]
}.

{erlfmt, [write]}.
